*{
	padding: 0px;
	margin: 0px;
	overflow: scroll;
}

.box{ /* 最外部的div*/
	height: 100%;
	width: 100%;
	padding: 10px 20px;
	box-sizing: border-box;
}

.box textarea{  /* 文本框的css*/
	width: 100%;
	border: 1px solid gray;
	overflow: hidden;
	box-shadow: 0px 0px 10px #808080;
	outline: none;
	font-size: 26px;
}

::-webkit-scrollbar{  /* 隐藏滚动条*/
	display: none;
}

.button{ /* 按钮的css*/
	width: 100px;
	height: 50px;
	background-color: beige;
	position: fixed;
	top: 50%;
	left: -80px ;
	transition: all 1s ;
}

.button:hover{  /* 按钮的伪类*/
	left: 0px ;
}